


div{
    margin-top: 16%;
    margin-left: 35%;
    border: 2px solid black;
    display:inline-block;
    padding: 55px 110px;
    border-radius: 8px;
    background-color: black;
    color: aqua;
    font-size: 30px;
  }
  
